/* Currently copied inline at public/index.html */

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  /* 
    To prevent white showing on scroll (bounce effect), add [overflow:hidden, height: 100%]
    on html and body
  */
  overflow: hidden;
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* The emerging W3C standard (currently Firefox-only) */
* {
  scrollbar-width: thin;
  scrollbar-color: none orange;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #5a5a5a; /* gray 60 */
  border-radius: 20px;
  border: 3px solid none;
}

*::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa; /* gray 30 */
}
